* {
  margin: 0;
  padding: 0;
  --primary_color: #f1faee;
  --secondary_color: #a8dadc;
  --tertiary_color: #1d3557;
  font-family: "Russo One", sans-serif;
}

#modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: var(--tertiary_color);
}

#modal_content_1 {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#modal_content_2 {
  display: none;
  gap: 30px;
}

#game_over,
#winning_message,
#modal_message {
  color: var(--primary_color);
  font-size: 3rem;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

label,
h3 {
  font-size: 2.5rem;
  color: var(--primary_color);
}

input {
  color: var(--tertiary_color);
  font-size: 2.5rem;
  border-radius: 10px;
}

.play_choice {
  color: var(--tertiary_color);
  font-size: 2rem;
  border-radius: 10px;
  width: 70px;
  height: 70px;
}

.play_choice:hover {
  background-color: var(--secondary_color);
}

.selected {
  background-color: var(--secondary_color);
}

#restart,
#play_again,
#next_modal,
#submit {
  font-size: 2rem;
  border-radius: 10px;
  width: 250px;
  height: 3rem;
  background-color: var(--tertiary_color);
  color: var(--primary_color);
  border: solid 2px var(--primary_color);
}

#restart:hover,
#play_again:hover,
#next_modal:hover,
#submit:hover {
  color: var(--tertiary_color);
  background-color: var(--primary_color);
}

#modal_content_2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#modal_content_3 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--tertiary_color);
}

#title {
  font-size: 5rem;
  color: var(--primary_color);
}

#game_container {
  background-color: var(--secondary_color);
  height: 500px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

#game_message {
  font-size: 2rem;
}

#game_board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--primary_color);
}

.game_section {
  width: 100px;
  height: 100px;
  border: solid 2px black;
  font-size: 5rem;
  text-align: center;
  text-justify: center;
}

#button_container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.player_buttons {
  background-color: var(--primary_color);
  border-radius: 10px;
  font-size: 1rem;
  width: 7rem;
  height: 2rem;
}

#play_as_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
